.progress {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.track {
  position: relative;
  display: flex;
  height: 0.25rem;
  width: 100%;
  align-items: center;
  overflow-x: hidden;
  border-radius: 9999px;
  background-color: #e2e8f0;
}

.indicator {
  height: 100%;
  background-color: #3b82f6;
  transition: all 0.2s ease-in-out;
}